mixin skillbar(skills, directory)
    .skillbar-container
        for skill in skills
            - let info = skill.split('-');
            - let label = info[0].trim();
            - let value = info[1].trim()
            - let colour = info[2].trim();
            div
                img(src=`./assets/${directory}/${label.toLowerCase()}.svg` alt=`Logo for ${label}`)
            if info.length <= 3
                label= label 
            else
                label= info[3]
            div 
                svg.progress
                    - let style;
                    - if (colour.indexOf(',') == -1) style = `fill: ${colour};`;
                    - else style = `fill: linear-gradient(${colour});`;
                    rect(width=`${value}%` height="100%" style=style)
