// Based of https://stackoverflow.com/a/32721572
mixin hidden(logo, title)
    input(type="checkbox" id=`${logo}`  tabindex="0")

    label(for=`${logo}`)
        img(src=`assets/icons/${logo}.svg` alt=`Logo for ${logo}`)
        h3= title 
        if block 
            block
