mixin skillbar(skills, directory)
    .skillbar-container
        for skill in skills
            - let info = skill.split('-');
            - let label = info[0].trim();
            - let value = info[1].trim()
            - let colour = info[2].trim();
            div
                img(src=`./assets/${directory}/${label.toLowerCase()}.svg` alt=`Logo for ${label}`)
            if info.length <= 3
                label= label 
            else
                label= info[3]
            div 
                svg.progress
                    if colour.indexOf(',') != -1
                        defs
                            - let urlLabel = label.replace(/ /g, '');
                            linearGradient(id=urlLabel)
                                - let colourstops = colour.split(',')
                                stop(stop-color=colourstops.shift() offset="0%")
                                if colourstops.length >= 2
                                    stop(stop-color=colourstops.shift() offset="50%")
                                stop(stop-color=colourstops.pop() offset="100%")
                                

                                //-for colourstop, index in colourstops
                                    stop(stop-color=colourstop offset=`${index*(100/colourstops.length)}%`)
                                - colour = `url(#${urlLabel})`;

                    rect(width=`${value}%` height="100%" style=`fill: ${colour};`)
